<!-- Animated Ionic Splash Page -->
<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img src="../../assets/imgs/tcc.png">
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>

<ion-header>
  <ion-navbar>
    <ion-title>Oeuvres :  / </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list *ngIf="oeuvresData">
    <ion-item *ngFor="let oeuvreData of oeuvresData">
      <ion-thumbnail item-start>
        <img src="../../assets/imgs/{{ oeuvreData.image }}">
      </ion-thumbnail>
      <h2>{{ oeuvreData.lastname }} {{ oeuvreData.firstname }}</h2>
      <p>QRCode: {{ oeuvreData.qrcode }}</p>
      <ion-icon name="checkmark-circle" item-end></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>