page-home {

    /* Animated Ionic Splash Page */
    #custom-overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100000;
        width:100%;
        background-color: #002a3e;
    }
    .flb {
        background-color: #e08b44;
        height:100%;
        width:100%;
        animation: pulse 1s linear forwards;
        display: flex;
        align-items: center;
        justify-content: center;
        @keyframes pulse {
            0% {
              opacity:0;
            }
            100% {
              opacity:1;
            }
        }
    }
    .Aligner-item {
        max-width: 50%;
    }
    .Aligner-item--top {
        align-self: flex-start;
    }
    .Aligner-item--bottom {
        align-self: flex-end;
    }
    #custom-overlay img {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
        animation: animation 3100ms linear infinite both;
        animation-delay: 1s;
    }

    /* Oeuvres */
    .item-ios {
        background-color: #ff7a22;
        position: relative;
        text-align: left;
    }
    .item-ios h2 {
        color: white;
        font-size: 1.4rem;
        text-shadow: 1px 1px 5px black;
    }
    .item-ios p {
        color: rgb(250, 209, 156);
        font-size: 1.2rem;
        text-shadow: 1px 1px 5px black;
    }
    .ion-ios-checkmark-circle {
        color: rgb(117, 252, 151);
    }
}
